.jumbotron
  .container
    %h1 Language Analisis Ici'4 gen
    %p
      Diego Llamas Velasco
    %p
      Omar de Jesus Vazquez Acevedo
    = link_to 'Nuevo post',posts_path,class: 'btn btn-primary'
    = link_to 'Agregar palabra al diccionario', words_path,class: 'btn btn-default'
